/* ----- LAYOUT GERAL ----- */
.signin-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #fff;
  overflow: hidden;
}

/* ----- LADO ESQUERDO ----- */
.signin-left {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.signin-box {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----- LOGO ----- */
.signin-logo {
  width: 130px;
  margin-bottom: 12px;
}

/* ----- TÍTULO ----- */
.signin-title {
  font-size: 22px;
  font-weight: 700;
  margin: 18px 0 22px;
  color: #000;
}

/* ----- INPUTS ----- */
.input-box {
  width: 100%;
  padding: 12px;
  background: #f3f3f3;
  border: none;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 13px;
  outline: none;
}

/* ----- BOTÕES SOCIAIS ----- */
.social {
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 6px;
  margin: 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

/* Ícones */
.social svg {
  font-size: 18px;
}

/* FACEBOOK */
.facebook {
  background: #1877f2;
  color: #fff;
}

/* GOOGLE (com ícone FcGoogle colorido) */
.google {
  background: #fff;
  color: #000;
  border: 1px solid #ddd;
}

.icon-google {
  font-size: 20px !important;
}

/* APPLE */
.apple {
  background: #000;
  color: #fff;
}

/* Hover suave */
.social:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

/* ----- CHECKBOX ----- */
.remember-area {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 10px 0 20px;
  font-size: 13px;
  color: #000;
}

/* ----- BOTÃO AVANÇAR ----- */
.btn-continue {
  width: 100%;
  padding: 12px;
  background: #eaeaea;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn-continue:hover {
  background: #dcdcdc;
}

/* ----- LINKS ----- */
.login-links {
  width: 100%;
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.login-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* ----- BANNER LADO DIREITO ----- */
.signin-right {
  width: 35%;
  height: 100%;
}

.signin-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.help-link {
  margin-top: 15px;
  font-size: 13px;
  color: #959595;
  font-weight: 600;
}

.create-account-link {
  margin-top: 5px;
  display: block;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
