.footer {
  background-image: url('/src/assets/footer-bg.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  inset: 0;
   background: linear-gradient(to top, rgba(10, 0, 20, 0.95), rgba(58, 12, 163, 0.7));
  z-index: 0;
}

/* TAILWIND */
